# Bundler
/.bundle/
/vendor/bundle

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
log/

# Temp & cache
tmp/
*.tmp

# Ruby version managers
.ruby-version
.rbenv-vars

# RubyMine / IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Coverage reports
coverage/
.simplecov

# Pids
*.pid
pids/